*{
  
    box-sizing: border-box;
}
body{

    font-family: 'Open Sans';
    font-weight: 400;

}

.nav-heading,h3{
    font-size: 33px;
    font-weight: 300;
    color: #393939;
}
a {
    text-decoration: none;

}
.price{
    color: #5bacc3
}
.default{
    background-color: #5bacc3;
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    outline: none;
    border: none;
    text-transform: uppercase;
}
h1,h2{
    font-size: 60px;
    font-weight: 300;
}
.icon{
    min-width: 50px;
    max-width: 120px;
}
.footer{
    background-color: #fff0ed;
}
.footer-span{
    font-weight: bold;
}