* {
    margin: 0;
    padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans";
  font-weight: 400;
}
.navigation {
  background-color: #fff0ed;
  width: 100%;
  margin-bottom: 30px;
}

.navigation img{
    display: inline-block;
    min-width: 50px;
    margin-top: 10px;
    max-width: 120px;
}
.navigation .nav-heading{
  display: inline-block;
  width: 100px;
}
.navigation ul {
  list-style: none;
  text-transform: uppercase;
}

.nav-heading,
h3 {
  font-size: 33px;
  font-weight: 300;
  color: #393939;
}
a {
  text-decoration: none;
}
.price {
  color: #5bacc3;
  display: block;
  margin: auto;
}
.default {
  background-color: #5bacc3;
  color: #fff;
  font-size: 21px;
  font-weight: 400;
  outline: none;
  border: none;
  text-transform: uppercase;
  min-width: 180px;
  max-width: 80%;
  padding: 20px;
}
h1,
h2 {
  font-size: 60px;
  font-weight: 300;
}
.icon {
  min-width: 50px;
  max-width: 120px;
}



.menu-items {
  color: #fff;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}
.menu-items-containers {
  width: 100%;
  display: inline-block;
  padding: 0;
  margin: 0;
}
.menu-items li {
 
  margin: 20px;
  color: #fff;
  display: inline-block;
  text-align: center;
}
.menu-items li a{
  color: #393939;
}
.menu-items li:nth-child(3) a{
  color: #5bacc3;
}


.products{
  width: 100%;
}
.product{
  display: inline-block;
  width: 33%;
}
.card{
  min-width: 330px;
  max-width: 350px;
  min-height: 440px;
  max-height: 460px;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 9px -1px rgba(0,0,0,0.25);
  text-align: center;
}
.card img{
  min-height: 240px;
  max-height: 550px;
  display: block;
  margin: auto;
  padding: 20px;
}
.card p{
  margin: 20px;
  font-size: 18px;
}
