.discount {
  min-width: fit-content;
  max-width: 90%;
  background-color: #393939;
  color: #fff;
  text-align: center;
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 20px;
}
.code {
  font-weight: 700;
}
.header-section {
  background-color: #fff0ed;
}
.header-section h1 {
  font-size: 60px;
  font-weight: 300;
  margin: 20px;
}
.header-section p{
  margin: 20px;
}
.products-image {
  min-height: 240px;
  max-height: 550px;
}
.footer {
  background-color: #fff0ed;
}
.footer-span {
  font-weight: bold;
}
.address h3, .address p, .hours h3, .hours p{
  margin: 20px;
}
.social{
  margin: 20px 20px 0px 20px;
}