.discount{
width: 100%;
height: 300px;
margin-top: 180px;

/* position: relative; */
}
.discount p {
  width: fit-content;
  background-color: #393939;
  color: #fff;
  text-align: center;
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 20px;
  padding: 20px;
  margin: auto;
}
.code {
  font-weight: 700;
}
.header-section {
  background-color: #fff0ed;
}
.header-section h1 {
  font-size: 60px;
  font-weight: 300;
}

.products-image {
  min-height: 240px;
  max-height: 550px;
}
.products{
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #f7f7f7;
}
.product{
  display: inline-block;
  width: 33%;
}
.card{
   width: 350px;
   height: 460px;
  padding: 20px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 5px 9px -1px rgba(0,0,0,0.25);
  text-align: center;
}
.card img{
height: 240px;
  display: block;
  margin: auto;
  padding: 20px;
}
.card p{
  margin: 20px;
  font-size: 21px;
}
.footer {
  background-color: #fff0ed;
  width: 100%;
  height:300px;
}
.footer-span {
  font-weight: bold;
}
.address h3, .address p, .hours h3, .hours p, .social p{
  margin: 20px 20px 30px 40px;
  display: block;
}
.social h3{
  margin: 20px 20px 15px 40px;
}
.social{
  margin: 20px 20px 0px 20px;
}
.social img{
  display: inline-block;
  width: fit-content;
}
.icons{
  display: inline-block;
  width: 100%;
  margin-left: 20px;
  padding: 20px 0px 20px 20px;
}
.icons .icon{
  width: 30px;
}
.footer-container{
  width: 100%;
  height: 100%;
  padding: 20px 0px 20px 180px;
}
.address,.hours,.social{
  display: inline-block;
} 


.articles{
  width: 100%;
  height: 100%;
  padding: 20px;
}

.content{
  position: relative;
  
}
.h1-p-btn{
  display: inline-block;
  width: 49.5%;
  position: absolute;
  top: 100px;
}
.h1-p-btn h1, .h1-p-btn p, .h1-p-btn button{
  display: block;
  margin-bottom: 30px;
}
.h1-p-btn2{
  width: 370px;
  margin: auto;
  padding: 20px;
}
.h1-p-btn2 p{
  margin-bottom: 30px;
}
.hero{
  display: inline-block;
  width: 49.5%;
  padding: 20px;
  position: relative;
  left: 50%;
}
.hero img{
  margin: auto;
  display: block;
}