@use "./partials/global" as *;

.menu__categories {
  color: #fff;
  background-color: #393939;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  padding: 20px;

  &-container {
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;
  }
  li {
    background-color: #393939;
    color: #fff;
    display: inline-block;
  }
  a {
    color: #fff;
    border-left: 4px solid #5bacc3;
    padding: 10px 20px 10px 20px;
  }
}

// .menu__categories li {
//   background-color: #393939;
//   color: #fff;
//   display: inline-block;
// }
// .menu__categories a {
//   color: #fff;
//   border-left: 4px solid #5bacc3;
//   padding: 10px 20px 10px 20px;
// }
.menu__title {
  width: 100%;
  height: 575px;
  background-image: url("../assets/coffee-circle.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  &-h1 {
    width: 280px;
    height: 180px;
    background-color: #393939;
    color: #fff;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after {
      width: 280px;
      height: 180px;

      display: block;
      content: "";
      border: 5px solid #5bacc3;
      position: absolute;
      top: -20px;
      left: -20px;
    }
  }
}

.items__section {
  background-color: #fff0ed;
  text-align: center;
  padding: 40px;
  &:nth-child(2) {
    background-color: #f7f7f7;
    text-align: center;
  }
}

.p__regular-italic {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  word-wrap: break-word;
}
.item__container {
  width: 25%;
  margin: auto;
}
