* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans";
  font-weight: 400;
}
/* global styles */

.default__button {
  background-color: #5bacc3;
  color: #fff;
  font-size: 21px;
  font-weight: 400;
  outline: none;
  border: none;
  text-transform: uppercase;
  width: 180px;
  padding: 18px 22px 22px 18px;
  position: relative;
  &:active {
    padding: 20px;
    &::after {
      top: 0;
      left: 0;
    }
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 178px;
    height: 61px;

    border: 2px solid #393939;
  }
}

h1,
h2 {
  font-size: 60px;
  font-weight: 300;
}
.icon {
  width: 50px;
}
.price {
  color: #5bacc3;
  font-size: 21px;
  display: block;
  margin: auto;
}
.price-index {
  font-weight: 700;
}
.price-menu {
  font-weight: 300;
}

.nav-heading,
h3 {
  font-size: 33px;
  font-weight: 300;
  color: #393939;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

/* navigations */
.navigation {
  background-color: #fff0ed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  &__logo {
    display: inline-block;
    width: 20%;
    img {
      display: inline-block;
      width: 50px;
    }
    &.nav-heading {
  display: inline-block;
  font-size: 60px;
  font-weight: 300;
  padding: 20px 0;
  color: #393939;
}

  }
  &__menu {
    display: flex;
    /* width: 75%; */
    list-style: none;
    text-transform: uppercase;
    float: right;
    align-items: center;
    a {
      margin: 20px;
      font-size: 21px;
      display: inline-block;
      text-align: center;
      color: #393939;
      &:hover {
        color: #5bacc3;
      }
    }
  }
}

